<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        <li class="item">
            <a href="https://github.com/microprofile-extensions/config-ext/blob/master/README.md" class="button" title="Extra Config sources and utilities" target="_blank">Config</a>
        </li>
        <li class="item">
            <a href="https://github.com/microprofile-extensions/openapi-ext/blob/master/README.md" class="button" title="Swagger UI for OpenApi" target="_blank">OpenApi</a>
        </li>
        <li class="item">
            <a href="https://github.com/microprofile-extensions/health-ext/blob/master/README.md" class="button" title="Additional reuasable health probes and UI" target="_blank">Health</a>
        </li>
    </ul>
    <br/>
    <ul class="list"> 
        <li class="item">
            <a href="https://github.com/microprofile-extensions/jaxrs-ext/blob/master/README.md" class="button" title="Some extensions for JAX-RS" target="_blank">JAX-RS</a>
        </li>
        <li class="item">
            <a href="https://github.com/microprofile-extensions/restclient-ext/blob/master/README.md" class="button" title="Some extensions for REST Client" target="_blank">REST Client</a>
        </li>
    </ul>
        
        
        
        
        
        
        
<!--        
    <ul class="list">     
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>-->
</nav>
